<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="ion-margin-start" slot="start">
      <ion-icon style="font-size: 48px" name="play-circle"></ion-icon>
    </ion-buttons>
    <ion-title> Search </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-row class="ion-padding-top">
      <ion-col size="8">
        <ion-searchbar
          mode="ios"
          placeholder="Enter keyword"
          [(ngModel)]="searchValue"
          (ionChange)="filterList()"
        >
        </ion-searchbar>
      </ion-col>
      <ion-col size="4">
        <ion-select
          placeholder="Select Filter Type"
          [(ngModel)]="selectedValue"
          (ionChange)="selectionChanged()"
        >
          <ion-select-option value="movie">Movies</ion-select-option>
          <ion-select-option value="tv">TV Shows</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content scrollEvents="true">
  <ion-list *ngIf="searchCardContainer.length > 0">
    <ion-grid fixed="true">
      <ion-row>
        <ion-col
          *ngFor="let item of searchCardContainer"
          sizeLg="2"
          size-md="4"
          size-sm="6"
          sizeXs="6"
        >
          <app-card
            [title]="item.title"
            [image]="item.image"
            [model]="item.modelItem"
            [voterRating]="item.voterRating"
            (cardEventTrigger)="cardEventListener($event)"
          >
          </app-card>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-infinite-scroll
      threshold="100px"
      position="bottom"
      (ionInfinite)="loadData($event)"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
